@import 'mixins';

/* -----MAIN GUIA PLANT CARE----- */

.main__guia--titulo {

    img {
        padding: 15px;
        margin-top: 4rem;
    }

    h2 {
        @include Karla;
        text-align: center;
        /* font-size: 40px; */
        @include h2new;
        color: #323339;
    }

    p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 2rem;
        padding: 0 5px 0 5px;
    }
}

h3 {
    font-size: 20px;
}

.card-group {
    margin-bottom: 2.5rem;
    @include Karla;
    color: #323339;

    .card {

        .card-title-cesped {
            font-family: 'El Messiri';
            font-weight: 400;
            color: #323339
        }

        .card-title-poda {
            @extend .card-title-cesped;
            color: #339E31;
        }

        .card-title-riego {
            @extend .card-title-cesped;
            color: #3E629C
        }

        .card-title-otono {
            @extend .card-title-cesped;
            color: #E86B0C;
        }

        .card-title-fertilizantes {
            @extend .card-title-cesped;
            color: #5C583E;
        }

        .card-title-control {
            @extend .card-title-cesped;
            color: #753027;
        }

        .card-title-compost {
            @extend .card-title-cesped;
            color: #B59816;
        }

        .card-title-transplante {
            @extend .card-title-cesped;
            color: #A1B85C;
        }

        .card-title-aire {
            @extend .card-title-cesped;
            color: #B88380;
        }
    }
}

/* Media queries Guia Plant Care */

@media screen and (min-width: 768px) {
    .main__guia--titulo {

        img {
            width: 100%;
            max-height: 50vh;
            object-fit: cover;
            padding: 15px;
        }

        p {
            font-size: 20px;
            @include Karla;
        }
    }
}

/* -----END MAIN GUIA PLANT CARE----- */