/* -------HEADER------- */

.container-fluid {
    font-family: 'el messiri';
}

.navbar-brand {
    color: #323339;
}

.navbar-light .navbar-brand {
    color: #323339;

    &:hover {
        color: #323339;
    }
}

.offcanvas-title {
    color: #323339;
    font-size: 20px;
}

.navbar-light .navbar-toggler {
    color: rgba(71, 85, 49, 0.062);
    border-color: rgba(69, 99, 63, 0.33);
}

.navbar-toggler {
    border-radius: 2rem;
    padding: 9px 9px;
    font-size: 1.15rem;
}

/* -----END HEADER----- */


