/* -----MAIN TROMEN----- */
.main__tromen {
    font-family: 'Karla';
    color: #323339;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 5rem;

    h2 {
        /* font-size: 30px; */
        @include h2new;
        text-align: center;
        padding: 10px;
    }
}

/* ---CALEFACCION--- */

.main__calefaccion {

    &--titulo {
        h3 {
            font-size: 25px;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
            @include border20;
            padding: 10px 10px;
        }
    }

    &--links {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            text-decoration: none;
            color: #323339;
            font-size: 25px;
            margin-bottom: 10px;
            background-color: #c1e19893;
            border-radius: 10px 5px 10px 5px;
            padding: 8px 32px;

            &:hover {
                transform: scale(0.95);
                background-color: #6b8f508f;
            }
        }
    }
}


/* ---GOURMET--- */

.main__gourmet--titulo {
    h3 {
        font-size: 25px;
        text-align: center;
    }

    img {
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        @include border20;
    }
}

.main__gourmet--links {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: #323339;
        font-size: 25px;
        margin-bottom: 10px;
        background-color: #c1e19893;
        border-radius: 10px 5px 10px 5px;
        padding: 8px 32px;

        &:hover {
            transform: scale(0.95);
            background-color: #6b8f508f;
        }
    }
}

/* ---ACCESORIOS--- */
.main__accesorios--titulo {
    h3 {
        font-size: 25px;
        text-align: center;
    }

    img {
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        @include border20;
    }
}

.main__accesorios--links {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: #323339;
        font-size: 25px;
        margin-bottom: 10px;
        background-color: #c1e19893;
        border-radius: 10px 5px 10px 5px;
        padding: 8px 32px;

        &:hover {
            transform: scale(0.95);
            background-color: #6b8f508f;
        }
    }
}

/* --Media queries TROMEN-- */

@media screen and (min-width: 768px) {
    .main__tromen h2 {
        /* font-size: 45px; */
        @include h2new;
        text-align: center;
        padding: 40px;
    }

    /* ---Media queries CALEFACCION--- */

    .main__calefaccion--titulo h3 {
        font-size: 35px;
        text-align: center;
    }

    .main__calefaccion--links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        a {
            text-decoration: none;
            color: #323339;
            font-size: 25px;
            background-color: #c1e19893;
            border-radius: 10px 5px 10px 5px;
            margin: 8px;
            padding: 8px 20px;

            &:hover {
                transform: scale(0.95);
                background-color: #6b8f508f;
            }
        }
    }

    /* ---Media queries GOURMET--- */

    .main__gourmet--titulo h3 {
        font-size: 35px;
        text-align: center;
    }

    .main__gourmet--links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        a {
            text-decoration: none;
            color: #323339;
            font-size: 25px;
            background-color: #c1e19893;
            border-radius: 10px 5px 10px 5px;
            margin: 8px;
            padding: 8px 20px;

            &:hover {
                transform: scale(0.95);
                background-color: #6b8f508f;
            }
        }
    }

    /* ---Media queries ACCESORIOS--- */
    .main__accesorios--titulo h3 {
        font-size: 35px;
        text-align: center;
    }

    .main__accesorios--links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        a {
            text-decoration: none;
            color: #323339;
            font-size: 25px;
            background-color: #c1e19893;
            border-radius: 10px 5px 10px 5px;
            margin: 8px;
            padding: 8px 20px;

            &:hover {
                transform: scale(0.95);
                background-color: #6b8f508f;
            }
        }
    }
}
/* ---END Media queries--- */

/* -----END MAIN TROMEN----- */